langchain
langchain-openai
langchain-community
langchain-chroma
langchain-text-splitters
openai
chromadb
streamlit>=1.38.0
pypdf
python-dotenv

# OpenVINO 및 이미지 처리 관련
openvino
pillow
numpy
matplotlib
opencv-python-headless

# 💡 새로 발생한 tensorflow 및 추가 패키지 등록
tensorflow
pandas
plotly
scikit-learn
scipy
seaborn